/*
Color Pallette
                    Lighter Light   Normal  Dark    Darker
primary colors;     9775AA  764B8E  582A72  3D1255  260339
Secondary Colors;   CD88AF  AA5585  882D61  661141  440027
Tertiary Colors;    887CAF  615192  403075  261758  13073A
*/


body{
    background-image: url("assets/images/alovelybackground.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    margin: 0;
    overflow: hidden;
}



/*Button*/
.button-group {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 1rem;
}

.button{
    color: #13073A;
    background-color: #764B8E;
    border-color: #13073A;
    font-size: 2rem;
    padding-inline: 0.5rem;
    border-style:solid;
    border-radius: 10px;
    cursor: pointer;
}

.button:hover {
    border-color: #887CAF;
    color: #887CAF;
    background-color: #260339;
    transform: scale(1.5);
    transition-duration: 1s;
    transition-delay: 0.05s;
}

/*Page Layout*/
.layout {
    display: grid;
    grid-template-columns: auto auto;
    height: 100vh;
    max-width: 1920px;
}

.myimg {
    border: 3px solid #181C14;
    border-radius: 8px;
}


.leftcontent, .rightcontent {
    border-radius: 10px;
}

/*LEFT PANEL*/
.leftcontent {
    padding: 1rem;
    margin: 1rem;
    background-color: beige;
    min-width: fit-content;
    min-height: fit-content;
    height: auto;
    border-style:solid;
}

.leftcontent a{
    color: black;
}

.leftcontent p, .leftcontent h1{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 1rem;
}

.leftcontent div{
    margin-left: auto;
    margin-right: auto;
}

/*Right Content*/
.topbanner {
    font-family: "Sixtyfour Convergence", sans-serif;
    font-weight: 400;
    z-index: 1;
    font-style: normal;
    position:relative;
    left: 50%;
}

.rightcontent {
    max-width: 1920px;
    overflow-y: auto;
    overflow-x: hidden;
}

.rightcontent h2{
    background-color: beige;
    border-style: solid;
    border-radius: 10px;
    max-width: fit-content;
    padding: 0.5rem;
    position:relative;
    left: 50%;
}

.divcontent{
    display: grid;
    grid-template-columns: auto auto;
}

.divcontent div{
    max-height: 400px;
    margin-right: 1rem;
    overflow: auto;
    background-color: beige;
    border-style: solid;
    border-radius: 10px;
    padding: 1rem;
}

.divcontent p {
    text-indent: 2rem;
    font-size: 1.5vh;
    padding-inline: 1rem;
    max-width: fit-content;
}

.divcontent img {
    height: 400px;
    border-style: solid;
    border-radius: 8px;
    margin-inline: 1rem;
}

/*Quadrent Content*/

.quad{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
}

.quad div{
    background-color: beige;
    border-style: solid;
    border-radius: 10px;
    padding: 1rem;
}